#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-banner_bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-choose_instr {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-profile_new {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-profile_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-profile_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-profile_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-new_instr {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_circ {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_line1 {
  rotation: 90.0;
  margin-left: 7px;
  margin-top: -7px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_line2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-male_circ {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-male_arrow {
  rotation: 315.0;
  margin-left: -4px;
  margin-top: -6px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-male_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-btn_back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-popup_rect {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-popup_tri {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-popup_btn_no {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-popup_btn_yes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-Feedback_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-Questions_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-About_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-Start_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-checkup_rect {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-checkup_tri {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}