#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-banner_bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-choose_instr {
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-profile_new {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-profile_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 224px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-profile_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 224px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-profile_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 223px;
  height: 25px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-new_instr {
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_circ {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #D34845;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #D34845;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #D34845;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #D34845;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_line1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #D34845;
  -ms-transform: rotate(90.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_line1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #D34845;
  -ms-transform: rotate(90.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_line2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #D34845;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_line2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #D34845;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-fem_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 29px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-male_circ {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #5E8FE1;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #5E8FE1;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #5E8FE1;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #5E8FE1;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-male_arrow {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #5E8FE1;
  -ms-transform: rotate(315.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-male_arrow {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #5E8FE1;
  -ms-transform: rotate(315.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-male_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 29px;
  height: 33px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-btn_back {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 69px;
  height: 43px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-popup_rect {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-popup_tri {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-popup_btn_no {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 67px;
  height: 43px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-popup_btn_yes {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 67px;
  height: 43px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-Feedback_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 104px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-Questions_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 104px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-About_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 104px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-Start_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 104px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-checkup_rect {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 #s-checkup_tri {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a78b7955-749b-4625-b77f-5eea68de2546 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}