#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-banner_bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-Feedback_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-Questions_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-About_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-Start_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-btn_yes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-btn_no {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-btn_back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-popup_rect {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-popup_tri {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-popup_btn_no {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 #s-popup_btn_yes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8a033aa-5d31-40a2-882a-05c65b02c092 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}