#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 2200px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_bg {
  position: absolute;
  top: 1151px;
  left: 0px;
  width: 1024px;
  height: 576px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_bg span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_bg span#rtr-s-QUESTIONS_bg_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3 {
  position: absolute;
  top: 1569px;
  left: 512px;
  width: 282px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_rect {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 230px;
  height: 105px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_rect .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_rect span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_rect span#rtr-s-QUESTIONS_a3_rect_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_rect span#rtr-s-QUESTIONS_a3_rect_1 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_rect span#rtr-s-QUESTIONS_a3_rect_2 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_rect span#rtr-s-QUESTIONS_a3_rect_3 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_tri .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_tri .content {
  width: 32px;
  height: 32px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a3_tri {
  position: absolute;
  top: 81px;
  left: 250px;
  width: 32px;
  height: 32px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a3_tri .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a3_tri span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a3_tri span#rtr-s-QUESTIONS_a3_tri_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTION_q3 {
  position: absolute;
  top: 1569px;
  left: 265px;
  width: 247px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_small .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_small .content {
  width: 24px;
  height: 24px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_small {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 24px;
  height: 24px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_small .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_small span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_small span#rtr-s-QUESTIONS_q3_small_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_med .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_med .content {
  width: 48px;
  height: 48px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_med {
  position: absolute;
  top: 39px;
  left: 16px;
  width: 48px;
  height: 48px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_med .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_med span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_med span#rtr-s-QUESTIONS_q3_med_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_txt .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 196px;
  height: 125px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_txt .content {
  width: 196px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q3_txt {
  position: absolute;
  top: 0px;
  left: 51px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 196px;
  height: 125px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_txt .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_txt span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_txt span#rtr-s-QUESTIONS_q3_txt_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q3_txt span#rtr-s-QUESTIONS_q3_txt_1 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a2 {
  position: absolute;
  top: 1436px;
  left: 512px;
  width: 282px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a2_rect {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 230px;
  height: 105px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a2_rect .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a2_rect span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a2_rect span#rtr-s-QUESTIONS_a2_rect_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a2_tri .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a2_tri .content {
  width: 32px;
  height: 32px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a2_tri {
  position: absolute;
  top: 81px;
  left: 250px;
  width: 32px;
  height: 32px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a2_tri .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a2_tri span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a2_tri span#rtr-s-QUESTIONS_a2_tri_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTION_q2 {
  position: absolute;
  top: 1436px;
  left: 265px;
  width: 247px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_small .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_small .content {
  width: 24px;
  height: 24px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_small {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 24px;
  height: 24px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_small .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_small span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_small span#rtr-s-QUESTIONS_q2_small_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_med .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_med .content {
  width: 48px;
  height: 48px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_med {
  position: absolute;
  top: 39px;
  left: 16px;
  width: 48px;
  height: 48px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_med .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_med span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_med span#rtr-s-QUESTIONS_q2_med_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_txt .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 196px;
  height: 125px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_txt .content {
  width: 196px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q2_txt {
  position: absolute;
  top: 0px;
  left: 51px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 196px;
  height: 125px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_txt .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_txt span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q2_txt span#rtr-s-QUESTIONS_q2_txt_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a1 {
  position: absolute;
  top: 1301px;
  left: 512px;
  width: 282px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a1_rect {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 230px;
  height: 105px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 10px 10px 10px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a1_rect .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a1_rect span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a1_rect span#rtr-s-QUESTIONS_a1_rect_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a1_tri .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a1_tri .content {
  width: 32px;
  height: 32px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_a1_tri {
  position: absolute;
  top: 81px;
  left: 250px;
  width: 32px;
  height: 32px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a1_tri .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a1_tri span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_a1_tri span#rtr-s-QUESTIONS_a1_tri_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTION_q1 {
  position: absolute;
  top: 1301px;
  left: 265px;
  width: 247px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_small .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_small .content {
  width: 24px;
  height: 24px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_small {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 24px;
  height: 24px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_small .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_small span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_small span#rtr-s-QUESTIONS_q1_small_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_med .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_med .content {
  width: 48px;
  height: 48px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_med {
  position: absolute;
  top: 39px;
  left: 16px;
  width: 48px;
  height: 48px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_med .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_med span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_med span#rtr-s-QUESTIONS_q1_med_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_txt .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 196px;
  height: 125px;
  position: absolute;
  overflow: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_txt .content {
  width: 196px;
  height: 125px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_q1_txt {
  position: absolute;
  top: 0px;
  left: 51px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 196px;
  height: 125px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_txt .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_txt span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #shapewrapper-s-QUESTIONS_q1_txt span#rtr-s-QUESTIONS_q1_txt_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_title {
  position: absolute;
  top: 1221px;
  left: 428px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_title span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_title span#rtr-s-QUESTIONS_title_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_bg {
  position: absolute;
  top: 575px;
  left: 0px;
  width: 1024px;
  height: 576px;
  background-color: #3F7A6C;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_bg span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_bg span#rtr-s-ABOUT_bg_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-FEEDBACK_scroll_line {
  position: absolute;
  top: 837px;
  left: 412px;
  width: 200px;
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_thanks {
  position: absolute;
  top: 965px;
  left: 421px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 28.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_thanks .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_thanks span {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_thanks span#rtr-s-ABOUT_txt_thanks_0 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_thanks span#rtr-s-ABOUT_txt_thanks_1 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_btn_send {
  position: absolute;
  top: 988px;
  left: 678px;
  width: 142px;
  height: 63px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #3F7A6C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #3F7A6C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #3F7A6C;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_btn_send .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_btn_send span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_btn_send span#rtr-s-ABOUT_btn_send_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txtbox_feedback {
  position: absolute;
  top: 934px;
  left: 359px;
  width: 305px;
  height: 127px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txtbox_feedback .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txtbox_feedback input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_feedback {
  position: absolute;
  top: 875px;
  left: 316px;
  width: 393px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_feedback .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_feedback span {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_feedback span#rtr-s-ABOUT_txt_feedback_0 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_about {
  position: absolute;
  top: 704px;
  left: 212px;
  width: 600px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_about .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_about span {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_txt_about span#rtr-s-ABOUT_txt_about_0 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_title {
  position: absolute;
  top: 648px;
  left: 462px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_title span {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_title span#rtr-s-ABOUT_title_0 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 576px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_bg span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_bg span#rtr-s-START_bg_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_livesearch {
  position: absolute;
  top: 303px;
  left: 405px;
  width: 212px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_livesearch .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_livesearch input {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_title {
  position: absolute;
  top: 94px;
  left: 366px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_title span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_title span#rtr-s-START_title_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_welcome {
  position: absolute;
  top: 152px;
  left: 240px;
  width: 544px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_welcome .valign {
  vertical-align: top;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_welcome span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_welcome span#rtr-s-START_txt_welcome_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_btn_start_diagnosis {
  position: absolute;
  top: 433px;
  left: 435px;
  width: 142px;
  height: 63px;
  background-color: #3F7A6C;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #3F7A6C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #3F7A6C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #3F7A6C;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_btn_start_diagnosis .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_btn_start_diagnosis span {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_btn_start_diagnosis span#rtr-s-START_btn_start_diagnosis_0 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_dropdown_list td {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_dropdown_list {
  position: absolute;
  top: 331px;
  left: 403px;
  width: 215px;
  height: 55px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Empty_space {
  position: absolute;
  top: 1726px;
  left: 0px;
  width: 253px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Empty_space .valign {
  vertical-align: top;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Empty_space span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Empty_space span#rtr-s-Empty_space_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_symptom {
  position: absolute;
  top: 267px;
  left: 455px;
  width: 113px;
  height: 30px;
  display: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_headache {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 14px;
  width: 99px;
  height: 30px;
  background-color: #3F7A6C;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 15px 15px 15px 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_headache .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_headache span {
  color: #89D1CA;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_headache span#rtr-s-START_txt_headache_0 {
  color: #89D1CA;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_txt_headache span#rtr-s-START_txt_headache_1 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_btn_remove_symptom {
  position: absolute;
  top: 1px;
  left: 83px;
  width: 14px;
  height: 14px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 14px 14px 14px 14px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_btn_remove_symptom .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_btn_remove_symptom span {
  color: #D34845;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_btn_remove_symptom span#rtr-s-START_btn_remove_symptom_0 {
  color: #D34845;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-QUESTIONS_scroll_line {
  position: absolute;
  top: 1141px;
  left: 412px;
  width: 200px;
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-ABOUT_scroll_line {
  position: absolute;
  top: 566px;
  left: 412px;
  width: 200px;
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-START_scroll_line {
  position: absolute;
  top: 39px;
  left: 412px;
  width: 200px;
  height: 10px;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Banner {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_7 {
  width: 1024px;
  height: 40px;
  background-color: #DFF9FD;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Start_scroll {
  position: absolute;
  top: 4px;
  left: 296px;
  width: 104px;
  height: 29px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Start_scroll .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Start_scroll span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Start_scroll span#rtr-s-Start_scroll_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-About_scroll {
  position: absolute;
  top: 4px;
  left: 405px;
  width: 104px;
  height: 29px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-About_scroll .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-About_scroll span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-About_scroll span#rtr-s-About_scroll_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Questions_scroll {
  position: absolute;
  top: 4px;
  left: 514px;
  width: 104px;
  height: 29px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Questions_scroll .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Questions_scroll span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Questions_scroll span#rtr-s-Questions_scroll_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Feedback_scroll {
  position: absolute;
  top: 4px;
  left: 623px;
  width: 104px;
  height: 29px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Feedback_scroll .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Feedback_scroll span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Feedback_scroll span#rtr-s-Feedback_scroll_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}