#s-dab78eb4-b2d7-4899-8c81-27f8663453ea > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 576px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 576px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-bg span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-bg span#rtr-s-bg_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-banner_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 40px;
  background-color: #DFF9FD;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-banner_bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-banner_bg span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-banner_bg span#rtr-s-banner_bg_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Feedback_btn {
  position: absolute;
  top: 4px;
  left: 623px;
  width: 104px;
  height: 29px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Feedback_btn .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Feedback_btn span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Feedback_btn span#rtr-s-Feedback_btn_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Questions_btn {
  position: absolute;
  top: 4px;
  left: 514px;
  width: 104px;
  height: 29px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Questions_btn .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Questions_btn span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Questions_btn span#rtr-s-Questions_btn_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-About_btn {
  position: absolute;
  top: 4px;
  left: 405px;
  width: 104px;
  height: 29px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-About_btn .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-About_btn span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-About_btn span#rtr-s-About_btn_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Start_btn {
  position: absolute;
  top: 4px;
  left: 296px;
  width: 104px;
  height: 29px;
  background-color: #89D1CA;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  z-index: 100;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Start_btn .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Start_btn span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Start_btn span#rtr-s-Start_btn_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-title {
  position: absolute;
  top: 64px;
  left: 280px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-title span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-title span#rtr-s-title_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-title span#rtr-s-title_1 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-title span#rtr-s-title_2 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-diagnosis_txt {
  position: absolute;
  top: 133px;
  left: 247px;
  width: 530px;
  height: 192px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-diagnosis_txt .valign {
  vertical-align: top;
  text-align: left;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-diagnosis_txt span {
  color: #3F7A6C;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-diagnosis_txt span#rtr-s-diagnosis_txt_0 {
  color: #3F7A6C;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-send_thanks {
  position: absolute;
  top: 421px;
  left: 131px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 28.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-send_thanks .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-send_thanks span {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-send_thanks span#rtr-s-send_thanks_0 {
  color: #3F7A6C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_send {
  position: absolute;
  top: 475px;
  left: 383px;
  width: 142px;
  height: 63px;
  background-color: #3F7A6C;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #3F7A6C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #3F7A6C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #3F7A6C;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_send .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_send span {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_send span#rtr-s-btn_send_0 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-txtbox_feedback {
  position: absolute;
  top: 421px;
  left: 69px;
  width: 305px;
  height: 127px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-txtbox_feedback .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-txtbox_feedback input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-feedback_txt {
  position: absolute;
  top: 379px;
  left: 70px;
  width: 306px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-feedback_txt .valign {
  vertical-align: top;
  text-align: left;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-feedback_txt span {
  color: #3F7A6C;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-feedback_txt span#rtr-s-feedback_txt_0 {
  color: #3F7A6C;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_find_center {
  position: absolute;
  top: 476px;
  left: 690px;
  width: 142px;
  height: 63px;
  background-color: #3F7A6C;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #3F7A6C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #3F7A6C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #3F7A6C;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_find_center .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_find_center span {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_find_center span#rtr-s-btn_find_center_0 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-center_txt {
  position: absolute;
  top: 432px;
  left: 584px;
  width: 366px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-center_txt .valign {
  vertical-align: top;
  text-align: left;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-center_txt span {
  color: #3F7A6C;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-center_txt span#rtr-s-center_txt_0 {
  color: #3F7A6C;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-center_txt span#rtr-s-center_txt_1 {
  color: #3F7A6C;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_return {
  position: absolute;
  top: 342px;
  left: 657px;
  width: 207px;
  height: 63px;
  background-color: #3F7A6C;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #3F7A6C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #3F7A6C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #3F7A6C;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_return .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_return span {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_return span#rtr-s-btn_return_0 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_return span#rtr-s-btn_return_1 {
  color: #89D1CA;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_dehyd {
  position: absolute;
  top: 188px;
  left: 425px;
  width: 98px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_dehyd .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_dehyd span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_dehyd span#rtr-s-btn_readmore_dehyd_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu {
  position: absolute;
  top: 215px;
  left: 346px;
  width: 98px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu span#rtr-s-btn_readmore_flu_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu_1 {
  position: absolute;
  top: 241px;
  left: 411px;
  width: 98px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu_1 span#rtr-s-btn_readmore_flu_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}