#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-banner_bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Feedback_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Questions_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-About_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Start_btn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-diagnosis_txt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-send_thanks {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_send {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-feedback_txt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_find_center {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-center_txt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_return {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_dehyd {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}