#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-banner_bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Feedback_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 104px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Questions_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 104px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-About_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 104px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-Start_btn {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #89D1CA;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #89D1CA;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #89D1CA;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #89D1CA;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 104px;
  height: 29px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-diagnosis_txt {
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-send_thanks {
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_send {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #3F7A6C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #3F7A6C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #3F7A6C;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 142px;
  height: 63px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-feedback_txt {
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_find_center {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #3F7A6C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #3F7A6C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #3F7A6C;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 142px;
  height: 63px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-center_txt {
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_return {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #3F7A6C;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #3F7A6C;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #3F7A6C;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #3F7A6C;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 207px;
  height: 63px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_dehyd {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 98px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 98px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea #s-btn_readmore_flu_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 98px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-dab78eb4-b2d7-4899-8c81-27f8663453ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}